.user-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 20px;
    max-width: 90px;
    overflow: hidden;
}


.rented {
    background-color: green;
}


.warning {
    background-color: #fdce3e;
}

.info {
    background-color: #3e80ed;
}

.outdated {
    background-color: #ebebeb;
}

.textWhite {
    color: white;
}

p {
    display: flex;
    text-align: center;
}

#addDiloBttn {
    padding-top: 10px;
}