<div>
    <page-header title="Přidání díla do knihovny" />
    <div id="content">
        <form>
            <table class="table">
                <thead></thead>
                <tbody>
                    <tr>
                        <td class="td">Název</td>
                        <td class="td"><input type="text" id="name" name="name" [(ngModel)]="form.nazev"/><br /></td>
                    </tr>
                    <tr>
                        <td class="td">Autor</td>
                        <td class="td"><input type="text" id="autor" name="autor" [(ngModel)]="form.autor" /><br /></td>
                    </tr>
                    <tr>
                        <td class="td">Nosič</td>
                        <td class="td">
                            <select [(ngModel)]="form.nosic_id" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let nosicTyp of nosicTypy" [value]="nosicTyp.nosic_id">
                                    {{ nosicTyp.nazev }}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td">Datum pořízení</td>
                        <td class="td"><input type="date" id="dat_porizeni" name="dat_porizeni" [(ngModel)]="form.dat_porizeni"/><br /></td>
                    </tr>
                    <tr>
                        <td class="td">Délka</td>
                        <td class="td"><input type="text" id="delka" name="delka" [(ngModel)]="form.delka"/><br /></td>
                    </tr>
                    <tr>
                        <td class="td">Popis</td>
                        <td class="td"><input type="text" id="popis" name="popis" [(ngModel)]="form.popis"/><br /></td>
                    </tr>
                </tbody>
            </table>
            <div class="control-buttons">
                <button class="material-button success" type="submit" (click)="handleClickSaveDilo()">Uložit</button>
                <input type="reset" class="material-button default" value="Vymazat formulář" />
                <a routerLink=".." class="material-button default">Zrušit</a>
            </div>
        </form>
    </div>
</div>