<div>
    <page-header title="Úprava uživatele" />
    <div id="content">
        <form>
            <table class="table">
                <thead></thead>
                <tbody>
                    <tr>
                        <td class="td">Přezdívka</td>
                        <td class="td"><input type="text" id="nickname" name="nickname" [(ngModel)]="form.nickname"/><br /></td>
                    </tr>
                    <tr>
                        <td class="td">Jméno</td>
                        <td class="td"><input type="text" id="name" name="name" [(ngModel)]="form.name" /><br /></td>
                    </tr>
                    <tr>
                        <td class="td">Příjmení</td>
                        <td class="td"><input type="text" id="surname" name="surname" [(ngModel)]="form.surname"/><br /></td>
                    </tr>
                    <tr>
                        <td class="td">Emailová adresa</td>
                        <td class="td"><input type="text" id="email" name="email" [(ngModel)]="form.email"/><br /></td>
                    </tr>
                    <tr>
                        <td class="td">Telefonní číslo</td>
                        <td class="td"><input type="number" id="telphone" name="telephone" min="0" [(ngModel)]="form.telephone"/><br /></td>
                    </tr>
                </tbody>
            </table>
            <div class="control-buttons">
                <button class="material-button success" type="submit" (click)="handleClickSaveUser()">Uložit</button>
                <button class="material-button default" (click)="handleClickRefreshPage()">Obnovit formulář</button>
                <a routerLink=".." class="material-button default">Zrušit</a>
            </div>
        </form>
    </div>
</div>