.user-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 20px;
    max-width: 90px;
    overflow: hidden;
}

.success {
    background-color: #5ec232;
}

.rented {
    background-color: green;
}

.error {
    background-color: #d51923;
}

.warning {
    background-color: #fdce3e;
}

.info {
    background-color: #3e80ed;
}

.outdated {
    background-color: #ebebeb;
}

.textWhite {
    color: white;
}

.textSize {
    font-size: 10px;
}

p {
    display: flex;
    text-align: center;
}

#addNewBorrowBttn {
    padding-top: 10px;
}